
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

:root {
    --top-color:#FFF;
    --top-color-focus:#EEE;
    --top-color-text:#000;
    --second-bg-color: #FFF;
    --second-bg-color-focus: #EEE;
    --second-bg-color-text: #444;
    --button-color1: #8e1266;
    --button-color1-focus: #ac4c8d;
    --button-color2:#DDD0BF;
    --button-color2-focus:#E4D9CD;
    --readmore:#4C969F;
    --readmore-focus:#4FADB9;
    --readmore-text:#FFF;
    --link-color:#4C969F;
    --highlight-text:#D57FA3;
    --quote-color:#C77;
    --text-color1: #A0867E;
  }

div#slider { overflow: hidden; }
div#slider figure div { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

.lastspace
{
	background-color:red;
	color:white;
	text-align:center;
	padding:2px;
}

.lastspace > div
{
	border:1px solid white;
	padding:10px;
}

.lastspace a, .lastspace a:visited, .lastspace a:link
{
	color:white;
	padding:10px;
}

.tech-slideshow {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow  > div {
  animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.list li
{
	display:inline;
	padding-right:8px;
}

.list h4
{
	margin-top:30px;
}

.cb
{
    clear: both;
}

.ib
{
	display:inline-block;
}

.circularimage
{
	clip-path: circle(50% at center);	
}

.button1
{
    border-radius: 5px;
    /* background: #db36a4; */
    color: white;
    background:var( --button-color1);
    color:White;
    padding:10px;
    border:0px solid red;
    border-radius:4px;
}
.button1:hover
{
    background:var(--button-color1-focus);
}
input, textarea
{
    background-color: transparent;
    border-width: 1px;
    border-color: #ddd;
}
form input
{
    background: white;
    border: 0px;
}

a img
{
    border: 0px solid black;
}

sup
{
    vertical-align: baseline;
    position: relative;
    z-index: 0;
    bottom: .33em;
}
ul
{
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    list-style-image: url(images/bullet_point.png);
}
ol
{
    padding-left: 25px;
}
h1
{
    padding-left: 5px;
    text-align: center;
    font-size:200%;
    font-style: normal;
    letter-spacing: -1px !important;
    color:var(--top-color-text) !important;
}
h2
{
    font-size:180%;
    background-position: 0% 0%;
    padding-top: 8px;
    padding-bottom: 8px;
}
h3
{
    font-size:130%;
    font-weight: bold;
    padding-top: 8px;
}
h4
{
    font-size:120%;
}
h5
{
	font-weight:bold !important;
	background:var(--button-color2) !important;
	color:#FFF !important;
	padding:10px 0px;
	border-radius:4px;
}
h6
{
	font-size:130%;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    /* color:#555;
	font-weight:bold; */
}

.ib_show_small
{
	display:none;
}

.ib_hide_small
{
	display:block;
}

a:link
{
    color: var(--link-color);
}
a:webkit-any-link
{
    color: var(--link-color);
    text-decoration: underline;
}
a:visited
{
    color: var(--link-color);
}
a:hover
{
    color: var(--readmore-focus);
	transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#datetable
{
	width:100%;
}

#datetable td
{
		padding:5px !important;
}

#service_slider
{
	margin-top:10px;
}

.dimbackground
{
	border-radius:5px;
}

.mainbackground
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mainbackground>div, .relaxbackground>div, .therapybackground>div
{
	/*background:rgba(255,255,255,0.5);*/
	/*padding:0px;*/
	/*padding-top:0px;
	padding-bottom:0px;*/
    margin-bottom:10px;
}



.relaxbackground
{
	background: url(images/ocean-828774_1920.jpg) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.therapybackground
{
	background: url(images/pier-407252_1920.jpg) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body
{
    /*background: url(images/webbackground.jpg);
	background-repeat: no-repeat;*/
    border: 0px;
    margin: 0px;
    height: 95%;
    font-family: Montserrat, 'Cabin', Karla, Arial, Verdana,Calibri,Georgia;
    color: var(--text-color1)
}
.bodyBorder
{
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    height: auto !important;
    height: 96%;
    padding-top: 40px;
}
.headerfull
{
	position:fixed;
	left:0;
    right:0;
    top:0px;
	/* background:var(--second-bg-color) !important; */
	z-index:2;
}

.headerfullsticky
{
	position:fixed;
	left:0;
    right:0;
    top:0px;
	background:var(--second-bg-color) !important;
	z-index:2;
}

.headerbackground
{
    /*margin: 0px;*/
    padding: 0px;
	/*background:white;*/
	/*box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);*/
	margin-bottom:2px;
}
.headertop
{
    top: 0px;
    background: #222;
    position: fixed;
    height: 40px;
    width: 100%;
    line-height: 20px;
    vertical-align: middle;
    color: White;
}

.headertop .signup
{
    display: inline-block;
    margin-top: 5px;
    background: #888;
    border-radius: 5px;
}

#signup
{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.phone, .email
{
	color: var(--top-color-text);
	margin-top:2px;
}

.phone
{
    text-align:right;
}

.email
{
    text-align:left;
}

.phone a, .email a
{
color: var(--top-color-text) !important;
}

.appimg
{
    margin-bottom: 5px;
}

.headertop a:hover
{
    color: #333;
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.headertop .signup:hover
{
    background: #aaa;
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.setindex
{
	position:relative;
	z-index:1;
	/* padding-top:120px; */
}

.call
{
    text-align: right;
    float: right;
    padding-right: 5px;
    color: black;
    margin-right: 10px;
    font-weight: bold;
}
.call a
{
    font-family: 'Cabin';
}
.call a:link, .call a:visited
{
    color: Black;
    text-decoration: none;
}
.call a:hover
{
    text-decoration: underline;
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.title
{
    font-family: 'Cabin', "Times New Roman" , Times, serif;
    font-size: 140%;
    font-weight: normal;
    background:#FFFFFFA0;
	/*text-transform:uppercase;*/
}

.insplogo
{
    margin-left: 15px;
    padding-top: 0px;
}

#insplogo
{
    width:300px;
    height:71px;
}
  

.headertable
{
    text-align: center;
}
.pinkbar
{
	position:relative !important;
    height: 70px;
    padding: 0px;
    border-color: black;
    clear: both;
}
.flashscroll
{
    color: #000;
}

.socialnetworks
{
	display:inline-block;
	/* position:absolute !important; */
	/*bottom:-50px;*/
	right:0px;
	text-align:center;
    width:100%;
    background-color: var(--second-bg-color);
    padding-top:10px;
    padding-bottom:10px;
    /* height: 32px; */
}
.socialnetworks img
{
    border: 0;
}

.titleimage
{
	height:200px;
	/* padding-top:165px; */
	/* text-shadow:-1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; */
	/* margin-bottom:20px; */
}

.ti1
{
	background:url(images/pexels-pixabay-268533.jpg) 50% no-repeat;
	background-size:cover;
    background-position-y: 50%;
}

.ti2
{
	background:url(images/cosmetic-oil-3197276_1920.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 55%;
}

.ti3
{
	background:url(images/dandelion-5178095_1920.jpg) 50% no-repeat;
	background-size:cover;
}

.ti4
{
	background:url(images/pexels-min-an-1369280.jpg) 50% no-repeat;
	background-size:cover;
	background-position-x: right;
}

.ti4>h1
{
	/* color:white !important;
	text-shadow:0px 0px 0px white; */
}

.ti5
{
	background:url(images/the-silence-4522878_1920.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: bottom;
}

.ti6
{
	background:url(images/pexels-dominika-roseclay-977737.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 20%;
	background-position-x: left;
}

.ti7
{
	background:url(images/pexels-simon-berger-1323550.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 10%;
}

.ti8
{
	background:url(images/baby-22194_1920.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 40%;
}

.ti9
{
	background:url(images/baby-belly-1533541_1920.jpg) 50% no-repeat;
	background-size:cover;
}

.ti10
{
	background:url(images/pexels-simon-berger-1323550.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 20%;
	background-position-x: left;
}

.ti11
{
	background:url(images/coffee-1156595_1920.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 40%;
}

.ti12
{
	background:url(images/support-2355701_1920.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 30%;
}

.ti13
{
    background:url(images/girl-3231703_1920.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 40%;
}

.ti14
{
    background:url(images/pexels-dominika-roseclay-977737.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 40%;
}

.ti15
{
    background:url(images/girl-3528292_1920.jpg) 50% no-repeat;
	background-size:cover;
	background-position-y: 20%;
}

#section1
{
    background:#FFF;
}

#section2
{
	background:rgba(247,249,251);
}

#section2 img
{
	content:url(images/baby-784608_1920.jpg);
}

#section3
{
}

#section4
{
	background:rgba(247,249,251);
}

#section4 img
{
}

#section5
{
}

#section6
{
	background:rgba(241,243,245);
}

.otherservices
{
	display:inline-block;
	width:30%;
}

#section4 .otherservices
{
	width:200px;
}

#section5 .testimonialimage img
{
	width:200px;
	padding:0px;
}



/*.
{
    background: url(images/flower1.jpg) no-repeat bottom right;
}
.
{
    background: url(images/flower2.jpg) no-repeat bottom right;
}
.
{
    background: url(images/flower3.jpg) no-repeat bottom right;
}
.
{
    background: url(images/flower4.jpg) no-repeat bottom right;
}
.
{
    background: url(images/flower5.jpg) no-repeat bottom right;
}
.
{
    background: url(images/flower6.jpg) no-repeat bottom right;
}
.
{
    background: url(images/flower7.jpg) no-repeat bottom right;
}
.
{
    background: url(images/flower1.jpg) no-repeat bottom right;
}*/

.packages
{
	background:rgba(255,255,255,0.6);
}

.packagetable
{
    width:100%;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
}

.packagetable td,.packagetable th
{
	padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    text-align: center; 
}

.la
{
    text-align: left !important;
}

.packages>div
{
	padding:10px;
}

.packages>div>div
{
	/*border:1px solid #db36a4;*/
	box-shadow: 0 0 30px rgba(0,0,0,.1);
	padding:15px;
}

.packagetitle
{
	font-size:150%;
	/*font-weight:bold;*/
	padding-bottom:10px;
	padding-top:10px;
}

.packageprice
{
	float:right;
	font-size:130%;
	padding-bottom:10px;
	padding-top:10px;
}

.packagedescription
{
	/*height:150px;*/
}


.cuteimage
{
    background: url(images/cute.jpg);
    height: 150px;
    clear: both;
}

.fr
{
    float: right;
}
.fl
{
    float: left;
}
#menuitem8
{
    float: left;
}
.twitter
{
    margin-top: 20px;
}
.block
{
    display: block;
}
.inline
{
    display: inline;
}
.hypnoicon img
{
    margin: 5 5 5 30;
}
.border
{
    border: solid 1px #FFAAAA;
}
.centered
{
    text-align: center;
}
.contactwidth
{
    width: 200px;
    text-align: left;
}

.halfwidth
{
    width: 50%;
}
.classdiv
{
    /*margin-left: 210px;*/
}
.classtype
{
	padding:10px;
}
.classtype>div
{
	box-shadow: 0 0 30px rgba(0,0,0,.1);
	padding:15px;
}
.classmonth
{
    background:rgba(255,255,255,0.3);
    font-weight:bold;
}
.bulletlist
{
    list-style-image: url(images/bullet_point.png);
}
.bulletlist li
{
    list-style-position: inside;
	text-indent:-27px;
	padding-left:27px;
}
.nolist
{
    padding-left: 30px;
}
.booknow
{
	float:right;
	background:#FFE97F;
	padding:5px;
	border-radius:4px;
	border:1px solid #333;
}
.booknow > a
{
	font-size:80%;
	color:#333;
	text-decoration:none;
}
.booknow:hover
{
	background:#B2A259;
}

.notfloating
{
	float:none;
}

.testimonials
{
}

.testimonialwrapper
{
    margin-bottom: 10px;
    margin-top: 10px;
	padding-top:5px;
    /*padding-right: 20px;*/
    font-family: Arial;
    font-weight: normal;
    border-bottom: 1px dotted #8B4083;
}
.testimonial
{
    /*padding-left: 5px;
    padding-right: 5px;*/
}
.testimonialwithimage
{
    
}
/*Used by quote left*/
.testimonial .fl
{
    margin-bottom: 5px;
    margin-right: 15px;
}
.testimonialimage
{
    
}
.testimonialimage img
{
	margin:0px 10px 10px 0px;
    background: white;
    display: inline-block;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index: 0;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	max-width:95%;
}
.testimonialheader
{
    text-align: right;
    font-weight: bold;
    padding-bottom: 20px;
    clear: both;
}
.classimage
{
    vertical-align: middle;
}
.highlight
{
    color: var(--highlight-text);
}
.picturerow
{
    display: inline;
    width: 210px;
    margin: 10px;
    border-right: solid 1px;
}
.links P UL LI A
{
}
.ullist LI
{
    padding-top: 5px;
    padding-bottom: 5px;
}
#TitleLinks
{
    width: 500;
}

#location_image
{
	width:100%;
	max-width:377px;
}

.main
{
    width: 200px;
    border: 1px solid black;
    cursor: pointer;
}
.month
{
    background-color: white;
    font: bold 12px verdana;
    color: black;
}
.daysofweek
{
    background-color: gray;
    font: bold 12px verdana;
    color: white;
}
.days
{
    font-family: verdana;
    color: black;
    background-color: white;
    padding: 2px;
}

.question
{
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-family: 'Cabin' ,Arial;
}
.answer
{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.signupnow
{
    position: fixed;
    background: var(--top-color);
    height: 40px;
    top: 0px;
    left: 0px;
    width: 100%;
    display: block;
    z-index: 1000;
    text-align: end;
}
.signupinner
{
    width: 960px;
    margin: auto;
}
.signupdd
{
    background: var(--button-color1);
    border-radius: 10px;
    padding: 2px 10px;
    margin-top: 4px;
    height: 28px;
    text-align: center;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    line-height: 28px;
    z-index: 9999;
}
.signupdd:hover
{
    background:var(--button-color1-focus);
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}
#signupform
{
    display: none;
    position: fixed;
    background: #C572AC;
    top: 0px;
    color: White;
    border: 1px solid black;
    z-index: 9998;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 5px 20px;
    -moz-border-radius: 10px;
    padding-top: 40px;
}
.Bar
{
    padding-top: 5px;
    height: 31px;
    text-decoration: none;
    float: left;
    width: auto;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.Bar Strong
{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
}
.Bar a strong
{
    font-weight: bold;
}
.blackbg
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: black;
    padding: 0px;
    margin: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9998;
}
.entry
{
    width: 300px;
    height: 170px;
    background: url(popupgrad.png) repeat-x 0% 100% white;
    margin: auto;
    top: 31%;
    left: 40%;
    position: absolute;
    opacity: 1;
    border: 1px solid;
    padding: 10px;
    z-index: 9999;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

.nav-item>a
{
    border-bottom: 5px solid transparent;
}

.navbar .selected>a
{
    /* color:#FFB; */
    border-bottom: 5px solid var(--top-color-text);
}
.navbar .selected strong:hover
{
    /*color: #4C969F;
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;*/
}

.navbar-toggler
{
    outline:0px !important;
}

.navbar-toggler .icon-bar
{
    height:4px;
    width:38px;
    border-radius: 0px;
    display:block;
}

.navbar-toggler .icon-bar+.icon-bar
{
margin-top:4px;
}

.navbar-toggler:hover>.icon-bar
{
    background-color:var(--top-color-text) !important;
}

.navbar-default {
	background:rgb(255,255,255,0.0) !important;
}

.navbar-nav {
    /*width: 100%;*/
    /* text-align: center; */
	/* font-size:120%; */
	/*float:right;*/
    
  }
  
.navbar-nav>li {
	float: none;
	display: inline-block;
	vertical-align:middle;
}

.navbar-toggler:hover, .navbar-toggler:focus {
    background-color: transparent !important;
}

.navbar-nav>li>a, .pull-left>a
{
	color:var(--top-color-text) !important;
}

.navbar-nav>li>a:hover
{
	/* background-color:#999 !important; */
	/* color:#FFB !important; */
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
    border-bottom: 5px solid var(--top-color-text);
}

.navbar-nav>li>a>strong
{
	font-weight: normal;
	/*text-shadow: 1px 1px 1px #000;*/
	text-align:center;
	font-size:90%;
}

.navbar
{
margin-bottom:0px !important;
border:0px solid transparent !important;
}

.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
background-color:rgb(255,255,255,0) !important;
transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.navbar-toggler
{
	/*margin-right:130px !important;
    float:none;*/
    border:  0px !important;
}

.navbar-toggler>.icon-bar
{
	background-color:var(--readmore) !important;
}



.rightside
{
	background:rgba(255,255,255,0.8);
	/*padding:20px;*/
	border-radius:10px;
	margin-top:8px;
	clear:both;
}

.leftside
{
    float: left;
    width: 200px;
    margin-bottom: 30px;
    height: 100%;
}

.leftside ul
{
}


.sideMenu
{
    font-family: "Verdana";
}
.sideMenu>ul>li
{
    border-bottom: 2px solid var(--button-color1);
    background:var(--button-color1);
    position: relative;
    list-style-type: none;
    border-right: 5px solid rgba(255,255,255,0);
	border-left:5px solid var(--button-color1);
}

.sideMenu>ul>ul
{
	background:var(--button-color1);
}
.sideMenu>ul>li>ul>li
{
	border-bottom: 2px solid #dda;
	padding-left:5px;
}

.sideMenu>ul>li>ul>li:last-child
{
	border-bottom:0px;
}

.sideMenu>ul>li:first-child
{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.sideMenu>ul>li:last-child
{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.sideMenu>ul>li:hover
{
    background: rgb(132, 08, 102);
	border-left: 5px solid rgb(132, 08, 102);
    border-right: 5px solid rgb(132, 08, 102);
}

.sideMenu a
{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.sideMenu a strong
{
	font-size:80%;
    width: 150px;
    font-weight: normal;
}

.sideMenu a:hover
{
    color: #EEE;
}

.sideMenu .selected
{
	border-left:5px solid var(--button-color1-focus);
    /*border-right: 5px solid #EEE;*/
	background:var(--button-color1-focus);
}

.sideMenu>ul>.selected>a
{
	color:#FFF;
}
.sideMenu>ul .selected:hover
{
	border-left:5px solid var(--button-color1);
	background:var(--button-color1);
    color:#FFF;
}

#leftNav.sticky {
     position: fixed;
     top: 50px;
	 width:14.56%;
  }
  
.rightside.sticky {
     position: fixed;
	 right:20px;
     top: 0px;
	 width:22.9%;
}

#slideshow
{
    position: relative;
    font-family: Arial;
}

#slideshow .fl
{
    padding-right: 10px;
}

#slideshow DIV
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    opacity: 0.0;
    filter: alpha(opacity=0);
    padding-top: 20px;
    padding-left: 20px;
}

#slideshow DIV.active
{
    z-index: 10;
    opacity: 1.0;
    filter: alpha(opacity=1);
}

#slideshow DIV.last-active
{
    z-index: 9;
}

.slide1
{
	background: url(images/webbackground.jpg);
	height:300px;
}

.tab
{
    margin-left: 20px;
}

.about
{
    border: 1px solid #aaa;
    padding: 5px;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.24);
}

.about strong
{
    font-family: 'Cabin' ,Tahoma, Constantia,Georgia;
}

.aboutimage
{
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
	max-width:100%;
}

.mediaarticle
{
	display: inline-block;
	vertical-align: top;
}

.mediaarticle img
{
	max-width:100%;
}

.specialoffer
{
    background: -webkit-linear-gradient(top, #F44 0%,#F00 100%);
    background: -moz-linear-gradient(top,  #F44 0%, #F00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F44), color-stop(100%,#F00)); /* Chrome,Safari4+ */
    background: -o-linear-gradient(top,  #F44 0%, #F00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F44 0%, #F00 100%); /* IE10+ */
    background: linear-gradient(top,  #F44 0%, #F00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4444', endColorstr='#FF0000',GradientType=0 ); /* IE6-9 */
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.24);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.24);
    vertical-align: baseline;
    text-align: center;
    color: white;
    margin: 5px;
    display: none;
}
.specialoffer a
{
    color: White;
}

.coffee
{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.24);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.24);
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(251,238,134,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(251,238,134,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(251,238,134,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(251,238,134,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(251,238,134,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(251,238,134,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fbee86',GradientType=0 ); /* IE6-9 */
}

.backtohome
{
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.thankscontact
{
    text-align: center;
}
.servicelinks>div>h3
{
    text-align: center;
}
.adservicesmain
{
    min-height: 400px;
    /*border: 1px solid gray;
    border-radius: 10px;*/
}
.adservicesmain .fr
{
    width: 100px;
    margin-top: 180px;
}
.adservicesmain .tr2
{
    margin-right: 150px;
}
.tr
{
    display: table-row;
}
.tr2 h3
{
    color: #666;
    text-align: left;
}
.tc
{
    display: table-cell;
    width: 33%;
    padding: 10px;
}
.tc2
{
    padding: 10px;
    height: 100%;
    border-bottom: 1px solid gray;
}
.tc2 ul
{
    list-style-image: url(images/bullet_point.png);
    padding-left: 25px;
}

.benefit
{
    margin-right: 230px;
}

.footer
{
    background: var(--top-color);
    color: var(--top-color-text);
    position: relative;
    padding-top: 10px;
    clear: both;
}
.footer a
{
    color: var(--top-color-text);
}
.footer a:visited, .footer a:link
{
    color: var(--top-color-text);
}
.footer a:hover
{
    color: #f3008b;
}


.cd
{
	
    /* border-radius: 10px; */
    text-align: center;
    padding: 10px 0px;
	margin-bottom:10px;
    box-shadow: 1px 0px 2px -6px rgba(0, 0, 0, 0.24);
}

.calendar
{
	text-align:left;
}

.rightside
{
	font-size:14px;
}

.rightside h5
{
	text-align:center;
}

.calendartitle
{
	margin-top:0px;
    /* font-weight: bold; */
}
.calendarmonth
{
    font-weight: bold;
}
.calendardate
{
    float: left;
    /*width: 100px;*/
    clear: both;
    text-align: left;
    /*padding-left: 7px;*/
}
.quote
{
	/*background:#4C969F;*/
	background:#FFF;
    /*background: rgb(142, 18, 102);*/
	/*float:right;*/
    padding: 5px;
    border-radius: 10px;
    color:var(--quote-color);
	margin-top:15px;
}

.quote>.pr
{
    padding-right:4px;
}

.quote>.pl
{
    padding-left:4px;
}

.fb_iframe_widget
{
    top: 10px;
}

.servicestitle
{
	font-size:120% !important;
}

.services>div>p
{
font-size:80%;
}

.services div>div
{
	text-align:center;
}

.services h3
{
	margin-top:0px !important;
	padding-top:10px !important;
    text-align: center;
	/*color:white !important;*/
}

.services img
{
	max-width:100%;
}

.service1
{
background:#9F4474;
}

.service2
{
background:#D1C56E;
}

.service3
{
background:#EC7CB7;
}

.service4
{
background:#4FADB9;
}

.howtobook
{
    padding-top: 10px;
}

.howtobook ol li
{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.howtobook form
{
    padding-top: 10px;
}

#TitleClasses div
{
    margin-right: 210px;
}

.bimage
{
    width: 250px;
	max-width:100%;
}

.furtherreading a
{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#880057;
}

.furtherreading > div > div
{
    vertical-align: top;
    
    border-radius: 10px;
    border-width:1px;
    border-style:solid;
    border-color:var(--button-color1);
	-webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -ms-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s;
}

.furtherreading > div > div:hover
{
    background:var(--button-color1-focus);
	-webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -ms-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s;
}

.furtherreading a:hover
{
    color: white;
	text-decoration: none;
	-webkit-transition:color 0.3s;
    -moz-transition:color 0.3s;
    -ms-transition:color 0.3s;
    -o-transition:color 0.3s;
    transition:color 0.3s;
}

.buttonwhite
{
	font-size:120%;
	font-weight:bold;
	color:#FFF;
	background:var(--button-color2);
	border-radius:20px;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
	margin-bottom:10px;
	display:inline-block;
}

.buttonwhite:hover
{
	background:var(--button-color2-focus);
	-webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -ms-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s;
}

.buttonwhite>a
{
	color:#0FFF !important;
}

.buttonwhite>a:hover
{
text-decoration:none !important;
}

.readmore
{
	background:var(--readmore);
	color:var(--readmore-text);
	border-radius:5px;
	padding:5px;
	margin-bottom:5px;
	display:inline-block;
}

.readmore:hover
{
	background:var(--readmore-focus);
	-webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -ms-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s;
}

.readmore>a
{
	color:#FFF !important;
}

.readmore>a:hover
{
text-decoration:none !important;
}



#SubmitSend
{
    background:var(--button-color2);
    color:White;
    padding:10px;
    border-radius:4px;
	-webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -ms-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s;
}

#SubmitSend:hover
{
    background:var(--button-color2-focus);
	-webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -ms-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s;
    color:White;
}


.dropdown-menu {
    background:var(--second-bg-color) !important;
}

.dropdown-menu >li>a{
    color:var(--top-color) !important;
    height:50px;
    padding-top:17px !important;
    font-size:80%;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{
    /* color:#FFB !important; */
    background-color: var(--second-bg-color-focus) !important;
}

iframe, object, embed {
        max-width: 100%;
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	z-index: -10000;
	padding:0px !important;
	display:none;
}

#home{
	
}

.audiojs
{
	max-width:100%;
}

.audiojs>.scrubber
{
	max-width:60%;
}

.navbar-collapse>ul>li>a
{
    width: 100%;
}

/*xs*/
@media all and (max-width:768px)
{

    #insplogo
    {
        width:150px;
        height:36px;
    }
	
	#leftNav
	{
		display:none;
	}

    h1
    {
        font-size:150%;
    }
	
	h2
	{
		font-size:130%;
	}
  
	.title
	{
		font-size:110%;
	}

    .buttonwhite
    {
        font-size:100%;
    }
	
	.titleimage
	{
		height:200px;
        padding-top:40px;
        margin-top: 64px;
	}

    .headerfull
    {
        background: var(--second-bg-color) !important;
    }
  
	.flashscroll
	{
		display:none;
	}
	
	.pinkbar
	{
		height:0px;
	}
  
	.email
	{
		text-align:left;
	}
  
	.email, .phone
	{
        font-size:120%;
        margin-top:6px;
	}
  
	.signupdd
	{
		display:none;
	}
  
	.contactme
	{
		display:none;
	}
	
	.ib_show_small
	{
		display:block;
	}
	
	.ib_hide_small
	{
		display:none !important; 
		top: 5px;
	}
	
	.socialnetworks img
	{
		width: 24px;
		height: 24px;
	}
	
	.fb-like
	{
		display:none !important;
	}
	
	#leftNav.sticky {
		position: relative;
		width:inherit;
		top:inherit;
	}
  
	.rightside.sticky {
		position: relative;
		right:inherit;
		width:inherit;
		top:inherit;
	}
	
	.background {
		display:block;
	}
	
	.navbar-nav>li {
		display: inherit;
	}
    
    .navbar-default .navbar-collapse
    {
        border-color: #e7e7e7;
        border-width: 0;
    }

    .dropdown-menu >li>a
    {
        font-size: 90%;
    }
		
	.qualifications
	{
		font-size:80%;
	}
	
	#section2 img
	{
		content:url(images/baby-784608_768.jpg);
	}
	
	#section4 img
	{
		content:url(images/amazing-736885_768.jpg);
	}
	
	.ti1
	{
		background:url(images/pexels-pixabay-268533.jpg) 50% no-repeat;
		background-size:cover;
		background-position-y: 50%;
	}

	.ti2
	{
		background-size:cover;
		background-position-y: 55%;
	}

    .dropdown-menu {
        background: none !important;
    }

    .footer
    {
        font-size: 70%;
    }
}

/*sm*/
@media all and (min-width:768px)
{

    #insplogo
    {
        width:225px;
        height:53px;
    }

    .headerfull
    {
        background: var(--second-bg-color) !important;
    }

	.title
	{
		font-size:140%;
    }
    
    .titleimage
	{
		height:300px;
        /* padding-top:40px;*/
        margin-top: 80px;
	}

	.flashscroll
	{
		display:none;
	}
	
	.pinkbar
	{
		height:32px;
	}
  
	.contactme, .email, .phone
	{
		font-size:80%;
	}
  
	.contactme
	{
		display:inline;
	}

	.newsletter
	{
		display:none;
	}
	
	.signupdd
	{
		display:none;
	}
	
	.ti1
	{
		background:url(images/pexels-pixabay-268533.jpg) 50% no-repeat;
		background-size:cover;
		background-position-y: 50%;
	}
	
		
	.ti2
	{
		background-size:cover;
		background-position-y: 55%;
	}

	.navbar-nav>li>a>strong
	{
		font-size:58%;
    }
    
		
}
/*md*/
@media all and (min-width:992px)
{
    .titleimage
	{
		height:300px;
        /* padding-top:40px;
        margin-top: 100px; */
        margin-top:0px;
	}

    .headerfull
    {
        background: none !important;
    }

	.title
	{
		font-size:130%;
	}

	.flashscroll
	{
		display:block;
	}
	
	.pinkbar
	{
		height:70px;
	}
	
	.newsletter
	{
		display:inline;
	}
	
	.signupdd
	{
		display:block;
	}

	.ti1
	{
		background:url(images/pexels-pixabay-268533.jpg) 50% no-repeat;
		background-size:cover;
		background-position-y: 50%;
	}	
	
	.ti2
	{
		background-size:cover;
		background-position-y: 55%;
	}

	.navbar-nav>li>a>strong
	{
		font-size:55%;
	}
}

/*lg*/
@media all and (min-width:1200px)
{
    .titleimage
	{
		height:700px;
        /* padding-top:40px;
        margin-top: 100px; */
	}

	.title
	{
		font-size:100%;
	}
  
	.flashscroll
	{
		display:block;
	}
  
	.services>div
	{
		height:240px;
		/*color:white;*/
	}
	
	.email, .phone
	{
		text-align:center;
	}

	.newsletter
	{
		display:inline;
	}
	
	.signupdd
	{
		display:block;
	}
	
	.navbar-nav>li>a>strong
	{
		font-size:90%;
	}
	
}
